@import url("../../index.css");

.drillholes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: white;
    /* margin-bottom: 50px; */
}

.hole {
    /* height: 120px; */
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid var(--gray);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 20px;
    /* padding: 10px; */
    overflow: hidden;
}

.hole > input {
    width: 50%;
    text-align: center;
}

.hole-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    width: 100%;
    padding-left: 10px;
    /* padding-right: 10px; */
}

.holeinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 10px;
    
    
}

.archiveHoleHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 1;
}
.archiveHoleHeader > h5, .hole > h5 {
    color: var(--gray);
    /* border-bottom: 1px solid var(--gray) ; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.archiveHoleHeader > button {
    position: absolute;
    right: 10px;
    width: fit-content;
}
.archiveHoleHeader > input {
    text-align: center;
    width: 50%;
    /* padding-left: 50%; */
}
.holeinfo > h6 {
    align-self: flex-start;
    text-indent: 20px;
}
.holeinfo > input {
    width: 80%;
}

.drillholes--buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap:10px;
}

.btn--setHoleActive {
    box-shadow: none;
    border:none;
    /* background-color: var(--white); */
    /* color: var(--primaryColor); */
}

.holeScan {
    border: 1px solid var(--primaryColor);
    width: 90%;
    padding: 10px;
    border-radius: 0.5rem;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.holeScan * {
    width: 50%;
}
.holeScan > h5 {
    font-weight: 100;
}

.holeScanColor { 
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    border-radius: 1rem;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
}
