@import url("../../index.css");

.drillholeConfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    background-color: rgba(211, 211, 211, 0.8);
    /* opacity: 0.5; */
    padding-top: 20px;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 2;
    padding-top: 15vh;
    overflow: hidden;
    
}

.drillholeConfigBox {
    border: 1px solid var(--gray);
    border-radius: 2rem;
    width: 90%;
    padding: 20px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
}

.drillholeConfigForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.drillholeConfigForm > label {
    text-align: left;
    align-self: flex-start;
}

.btn--closenewDrillhole {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    box-shadow: 0px 0px 0px;
}