@import url("../../index.css");

.imuPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 20px;
    height: calc(100vh - var(--navbarHeight));
    margin-top: calc(var(--navbarHeight));
    padding-top: 20px;
    margin-bottom: 50px;
}

.imuPage > h1 {
    border-bottom: 1px solid var(--gray);
}